@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: Overpass, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  color: white;
}

section {
  background-image: linear-gradient(to bottom, #ff9500, #ff5e3a);
}

h1 {
  text-align: center;
  margin: auto;
  color: white;
}

.space-bubbles {
  border-bottom: 3px solid rgba(255, 255, 255, .4);
}

.super-domes {
  border-bottom: 3px solid rgba(255, 255, 255, .4);
}

svg {
  color: white;
}

a {
  text-decoration: none;
  color: #fff;
}

.btn {
  display: inline-block;
  border: 3px solid rgba(255, 255, 255, .6);
  border-radius: 4px;
  text-align: left;
}

.btn:hover {
  background-color: rgba(255, 255, 255, .6);
  color: #ff9500;
}

p {
  font-style: normal;
  text-align: left;
}

h2 {
  text-align: left;
}


@media only screen and (min-width: 38em) {

  .card-button {
    text-align: left;
  }

  .space-bubbles {
    border-bottom: none;
    border-right: 3px solid rgba(255, 255, 255, .4);
  }

  .super-domes {
    border-bottom: none;
    border-right: 3px solid rgba(255, 255, 255, .4);
  }

}

@media only screen and (min-width: 60em) {

  .btn {
    display: inline-block;
    border: 5px solid rgba(255, 255, 255, .4);
    border-radius: 5px;
  }

}
